/Main/nbproject/private/
/Main/build/
/OddOrEven/nbproject/private/
/OddOrEven/build/
/UseScanner/nbproject/private/
/UseScanner/build/
/TextDataType/nbproject/private/
/TextDataType/build/
/fibonacciOne/nbproject/private/
